<div class="crm-container">
  <h1 crm-page-title>{{ts('Activity Tabs')}}</h1>
  hello?

  <form name="activitytabs-form" crm-ui-id-scope ng-if="screen==='list'">
    <table class="activitytabs-list" >
      <thead>
        <tr>
          <th>{{ ts('Name') }}</th>
          <th>{{ ts('Activity Types') }}</th>
          <th>{{ ts('Columns') }}</th>
          <th>{{ ts('Actions') }}</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="row in activitytabsList" >
          <td>{{ row.name }}</td>
          <td>{{ row.activityTypes }}</td>
          <td>{{ row.columns }}</td>
          <td>
            <a href ng-click="showEditScreen($index)">Edit</a>
            |
            <a href ng-click="deleteItemConfirm($index)" >Delete</a>
          </td>
        </tr>
      </tbody>
    </table>
    <a href ng-click="activitytabsList.push({name: 'New Tab', columns: ['date', 'subject', 'assigned'], types: [] })" >+ {{ ts('Add Activity Tab') }}</a>
  </form>
  {{ activitytabsList | json }}

  <div ng-if="screen==='edit'">
    {{ editIndex}}<br/>
    {{ activitytabsList[editIndex]}}
    <form name="activitytabs-tab-form" crm-ui-id-scope >

      <div crm-ui-field="{name: 'activitytab.name', title: ts('Tab Name')}">
        <input crm-ui-id="activitytab.name" name="name" ng-model="editItem.name" required />
      </div>

      <div crm-ui-field="{name: 'activitytab.types', title: ts('Activity Types')}">
        <input crm-ui-id="activitytab.types" name="types" ng-model="editItem.types" required />
      </div>

      <div crm-ui-field="{name: 'activitytab.columns', title: ts('Columns')}">
        <input crm-ui-id="activitytab.types" name="columns" ng-model="editItem.columns" required />
      </div>

      <button ng-click="cancelEdit()">Cancel</button>
      <button ng-click="saveItem()">Save</button>
    </form>
  </div>

  <div ng-if="screen==='delete'">
    <h2>{{ ts('Delete Activity Tab !tab?', {'tab': editItem.name} )}}</h2>

    <button ng-click="cancelEdit()" >Cancel</button>
    <button ng-click="deleteItem()" >Delete</button>
  </div>

</div>
